.login__wrapper{
}
.login__header{
    background-color: var(--navbar-color);
    margin-bottom: 20px;
}
.login__wrapper-header-logo{
    display: flex;
    width: 190px;
    margin-left: 190px;
}
.login__wrapper-header-logo-link{
    padding: 20px 20px;
    display: flex;
    align-items: flex-end;
}
.login__wrapper-header-logo-img{
    padding-right: 16px;
}
.login__wrapper-header-logo-label{
    font-size: 30px;
    font-weight: 700;
    color: var(--white-color);
}
.login__wrapper-form{
    margin: 20px 0;
}
.login__label{
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.login__form{
    margin: 20px auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;     
    width: 40%;
    
}
.login__form-password,
.login__form-username{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: solid 2px var(--topbar-color);
}
.login__form-password{

}
.login__form-remember{
    display: flex;
    margin: 10px 0;
}
.login__form-remember-checkbox{
    margin: 0;
}
.login__form-remember-label{
    padding-left: 10px;
    font-size: 14px;
}
.login__form-register,
.login__form-forgetpass{
    display: flex;
    margin: 6px 0;
}
.login__form-register-label,
.login__form-forgetpass-label{
    font-size: 14px;
}
.login__form-register-link,
.login__form-forgetpass-link{
    font-size: 14px;
    padding-left: 10px;
}
.login__form-register-link:hover,
.login__form-forgetpass-link:hover{
    color: var(--theme-text-color);
    font-weight: 600;
}
.login__form-submit{
    margin-top: 10px;
    padding: 16px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    border: solid 3px var(--topbar-color);
    background-color: var(--white-color);
    color: var(--topbar-color);
    border-radius: 20px;
    transition: all 200ms ease;
}
.login__form-submit:hover{
    background-color: var(--topbar-color);
    color: var(--white-color);
}

