/* Header  */

/* Header topbar  */
*,
::after,
::before {
    box-sizing: border-box;
}

.header {
    display: block;
    width: 100%;
    height: 178px;
    position: fixed;
    z-index: 9999;

}

.header__topbar {
    display: flex;
    padding: 0 16px;
    background: var(--topbar-color);
    color: var(--white-color);
    height: var(--topbar-height);
    position: relative;
    font-size: 10px;
}

.header__infomation {
    display: flex;
    align-items: flex-start;
}

.header__info-phone {
    margin-right: 36px;
    margin-left: 190px;
    line-height: var(--topbar-height);
}

.header__info-list {
    display: flex;
    align-items: center;
}

.header__info-link {
    display: flex;
    padding: 12px 0;
}

.header__info-item {
    list-style: none;
    padding: 0 16px;
    color: var(--white-color);
}

.header__info-link:hover {
    color: rgb(255, 152, 41);
}

.header__action {
    position: absolute;
    right: 0;
    display: flex;
    margin-right: 190px;
}

.header__action-item {
    margin: 0 5px;
}

.header__action-item-first>a::after {
    display: block;
    position: absolute;
    top: 15px;
    right: -9px;
    background: #FFFFFF;
    width: 1px;
    height: 9px;
    content: '';
}

.header__action-link {
    color: var(--white-color);
    line-height: var(--topbar-height);

}

/* Header navigation  */
.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--navbar-color);
    color: var(--white-color);
}

.header__logo {
    display: flex;
    width: 190px;
    margin-left: 190px;
}

.header__logo-link {
    padding: 40px 20px;
    display: flex;
    align-items: flex-end;
}

.header__logo-img {
    padding-right: 16px;
}

.header__logo-lable {
    font-size: 30px;
    font-weight: 700;
    color: var(--white-color);
}

.header__navbar {}

.header__navbar-list {
    display: flex;
    font-size: 13px;
    font-weight: 600;
}

.header__navbar-item {
    list-style: none;
    padding: 0 16px;
}

.header__navbar-link {
    color: var(--white-color);
}

.header__search {}

.header__search-form-check {}

.header__search-input {
    display: none;

}

.header__subNavbar-form-check {
    display: none;
}

.header__subNavbar--layout {
    display: none;
}

/* Container */
/* Container home */
.wrapper {}

.wrapper__home {}

.wrapper__slider {
    position: relative;
    display: flex;
    justify-content: center;
}

.wrapper__slider-background {
    background-size: cover;
    width: 100%;
    height: 746px;
}

.wrapper__slider-content {
    position: absolute;
    top: 200px;
}

.wrapper__slider-lable {
    font-size: 112px;
    font-weight: 900;
}

.wrapper__slider-lable--styte {
    font-size: 100px;
    font-family: fantasy;
    text-align: center;
}

.wrapper__slider-button {
    text-align: center;
    margin-top: 50px;
    height: 50px;
    width: 100%;
}

.wrapper__slider-link {
    height: 50px;
    line-height: 50px;
    background-image: var(--theme-color);
    padding: 16px 60px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.wrapper__action {
    position: absolute;
    bottom: 50%;
    right: 0;
    left: 0;
    font-size: large;
}

.wrapper__action-pre {
    position: absolute;
    left: 20px;

}

.wrapper__action-next {
    position: absolute;
    right: 20px;
}

/* Container Search */
.wrapper__search {
    background-image: var(--theme-color);
}

.wrapper__search-content {
    position: relative;
    max-height: var(--wrapper-search-height);
}

.wrapper__search-list {
    position: absolute;
    right: 0;
    left: 0;
    top: -94px;
    height: 94px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.wrapper__search-item {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: 100%;
    background: #fff;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    background-color: var(--white-color);
    /* transition: all 200ms ease; */
}

.wrapper__search-item:first-child {
    border-radius: 100px 0 0 0;
}

.wrapper__search-item:last-child {
    border-radius: 0 100px 0 0;
}
.wrapper__search-item:hover .wrapper__search-item-icon,
.wrapper__search-item:hover {
    background-color: var(--theme-text-color);
    color: var(--white-color);
}

.wrapper__search-link {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: var(--topbar-color);
    /* transition: all 200ms ease; */
}

.wrapper__search-item-icon {
    padding-right: 20px;
    font-size: 16px;
    color: var(--theme-text-color);
}

.wrapper__search-item-lable {}

/* wrapper input  */
.wrapper__input {
    width: 100%;
}

.wrapper__input-list {
    width: 100%;
    display: flex;
    height: var(--wrapper-search-height);
    justify-content: flex-start;
    align-items: center;
}

.wrapper__input-item {
    /* position: relative; */
    /* height: var(--wrapper-search-height); */
    margin-right: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper__input-item-lable {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 16px 0;

}

.wrapper__input-item-select,
.wrapper__input-item-action {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    margin: 0 16px 0 0;
}

.wrapper__input-button {
    text-align: center;
    line-height: 50px;
    background: var(--theme-text-color);
    margin-top: calc(var(--wrapper-search-height)/2.56);
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
}

.wrapper__input-search {
    padding: 15px 50px;
}

/* COntainer content  */
.wrapper__content {}

/* wrapper intro */
.wrapper__content-layout {
    padding: 100px 0;
    position: relative;
}

.wrapper__content-intro {
    width: 100%;
}

.wrapper__content-intro--title {
    text-align: center;
    font-size: 34px;
}

.wrapper__content-intro--text {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    color: rgba(44, 44, 44, 0.701);
    margin: 20px 0;
}

.wrapper__content-intro--list {

}

.wrapper__content-intro--item {
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 30px;
}

.intro__item-content--overlay {
    width: 100%;
    height: 100%;
    background: rgba(44, 44, 44, 0.4);
    z-index: -999;

}

.intro__item-content--img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: all 100ms ease;
}
.wrapper__content-intro--item:hover .intro__item-content--img{
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
.intro__item-content--time {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.intro__item-content--time--text {
    background-color: var(--theme-text-color);
    padding: 6px 26px;
    font-size: 13px;
    border-radius: 15px;
}

.intro__item-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__item-content--lable {
    font-size: 46px;
    font-weight: 700;
    color: var(--white-color);
    padding: 10px 0;
}

.intro__item-content--price {
    font-size: 14px;
    font-weight: 500;
    color: var(--white-color);
}

.intro__item-content--rating {
    background-image: transparent;
    padding: 10px 0;
}

.intro_item-content--icon {
    color: var(--theme-text-color);
    font-size: 14px;
}
.intro__item-content--button{
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 15%;
    text-align: center;
    transition: all 200ms ease-in-out;
}
.intro__item-content--link{
    color: var(--white-color);
    font-size: 14px; font-weight: 700;
    padding: 16px 50px;
    background-color: var(--topbar-color);
    border-radius: 30px;
}
.wrapper__content-button:hover,
.intro__item-content--button:hover{
    transform: scale(1.2);
}

/* Wrapper Booking */
.wrapper__content-layout--img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-size: cover;
    z-index: -999;
}
.wrapper__content-booking{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white-color);
    padding: 100px;
}
.wrapper__content-title{
    text-align: center;
    font-size: 30px;
    line-height: 45px;
}
.wrapper__content-rating{
    background-image: transparent;
    line-height: 28px;
    text-align: center;
    padding: 10px 0;
}
.wrapper__content-text{
    margin-top: 20px;
    line-height: 2.29;
    text-align: center;
    opacity: 0.8;
    font-size: 14px;
    font-weight: 600;
}
.wrapper__content-button{
    text-align: center;
    transition: all 200ms ease-in-out;
    margin-top: 64px;
    transition: all 200ms ease;

}
/* Wrapper offer  */
.wrapper__offer--item{
    position: relative;
    width: 100%;
    height: 330px;
    margin: 20px 0;
}
.wrapper__offer--image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 0 16px;
    height: 330px;
    /* height: 100%; */
}
.wrapper__offer--image-img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.wrapper__offer--image-text{
    position: absolute;
    bottom: 10%;
    width: 60%;
    background-color: var(--theme-text-color);
    line-height: 35px;
    font-size: 16px;
    font-weight: 700;
    padding-left: 22px;
    color: var(--white-color);
}
.wrapper__offer-content{
    height: 330px;
}
.wrapper__offer-content--bill{
    display: flex;
    align-items: flex-end;
    padding: 10px 0;
}
.wrapper__offer-content--price{
    font-size: 36px;
    font-weight: 700;
    color: var(--price-color);
}
.wrapper__offer-content--unit{
    padding-left: 10px;
    padding-bottom: 7px;
    font-size: 14px;
    font-weight: 400;
    color: #555;

}
.wrapper__offer-content--text{
    font-size: 14px;
    font-weight: 400;
    color: #555;
    line-height: 2;
    padding: 10px 0;
}
.wrapper__offer-content--icon{
    color: #777;
    padding: 10px 0;
    word-spacing: 4px;
}
.wrapper__offer-content--more{
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #333;
    transition: all 200ms ease;
}
.wrapper__offer-content--more:hover{
    color: var(--theme-text-color);
}
/* Wrapper instructor */
.wrapper__instructor--list{
    margin-top: 90px;
}
.wrapper__instructor--item{
    position: relative;
    width: 100%;
}
.wrapper__instructor--icon{
    position: absolute;
    top: -16px; left: 10%;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
}
.wrapper__instructor--img{
    width: 100%;
    height: 484px;
    background-size: cover;
    border-radius: 15px;

}
.wrapper__instructor--content{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40%;
    background-color: var(--instructor-color);
    border-radius: 0 0 15px 15px;
}
.wrapper__instructor--info{
    padding: 18px 18px;
    margin: -10% 0 20px 25px;
    background-color: var(--white-color);
    width: 40%;
    border-radius: 10px;
}
.wrapper__instructor--name{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 4px;
}
.wrapper__instructor--date{
    font-size: 13px;
    font-weight: 400;
}
.wrapper__instructor--decrip{
    color: var(--white-color);
    padding: 10px 25px;
}
.wrapper__instructor--title{
    font-size: 20px;
}
.wrapper__instructor--text{
    font-size: 14px;
    margin: 11px 0 17px 0;
    line-height: 1.8;
}

/* wrapper trending */

.wrapper__trending--list{
    margin-top: 90px;
}
.wrapper__trending--item{
    display: flex;
}
.wrapper__trending--img{
    width: 50%;
    height: 133px;
    padding: 20px;
    object-fit: cover;
}
.wrapper__trending--content{
    padding: 10px 0;
}
.wrapper__trending--name{
    font-size: 16px;
    font-weight: 700;
    color: #333;
    transition: all 200ms ease;
}
.wrapper__trending--name:hover{
    color: var(--theme-text-color);
}
.wrapper__trending--price{
    font-size: 14px;
    font-weight: 700;
    color: var(--price-color);
}
.wrapper__trending--address{
    font-size: 14px;
    font-weight: 500;
    color: #777;
}   

/* wrapper contact */
.wrapper__contact{

}
.wrapper__contact--background{

}
.wrapper__contact--form{
    background-image: var(--theme-color);
    padding: 74px 48px 88px;
}
.wrapper__contact--form-lable{
    font-size: 30px;
    font-weight: 700;
    color: var(--white-color);
}
.wrapper__contact--form-content{
    outline: none;
    border: none;
    background: transparent;
    width: 585px;
}

.wrapper__contact--form-name{
   
}
.wrapper__contact--form-item{
    outline: none;
    border: none;
    background: transparent;
    padding: 10px 0;
    border-bottom: solid 2px #fff ;
    min-width: 100%;
    max-width: 100%;
}
.wrapper__contact--form-mail{

}
.wrapper__contact--form-subject{

}
.wrapper__contact--form-massage{

}